# Build output folders
/LearnTrack/out/
/LearnTrack/bin/

# Generated archives
*.jar
*.class

# OS files
.DS_Store
Thumbs.db

# IDE files
*/.idea/
*/.vscode/

# Env files
*.env

*.pyc
__pycache__/
venv/
.vscode/

# ChromaDB persistent storage
*/data/chroma_db/
